<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:jpa="http://www.springframework.org/schema/data/jpa"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- http://drypot.com/post/95?p=6 spring + hibernate: with JPA -->

	<tx:annotation-driven />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">

        <!-- Spring-Data managed connection pool, use this instead of hibernate managed connection pool. -->
		<property name="autoCommitOnClose" value="true" />
		<property name="initialPoolSize" value="${c3p0.initialPoolSize}" />
		<property name="minPoolSize" value="${c3p0.maxPoolSize}" />
		<property name="maxIdleTime" value="30000" />
		<property name="preferredTestQuery" value="select 1" />
		<!-- default values
		acquireIncrement -> 3, 
		acquireRetryAttempts -> 30, 
		acquireRetryDelay -> 1000, 
		autoCommitOnClose -> false, 
		automaticTestTable -> null, 
		breakAfterAcquireFailure -> false, 
		checkoutTimeout -> 0, 
		connectionCustomizerClassName -> null, 
		connectionTesterClassName -> com.mchange.v2.c3p0.impl.DefaultConnectionTester, 
		debugUnreturnedConnectionStackTraces -> false, 
		description -> null, 
		factoryClassLocation -> null, 
		forceIgnoreUnresolvedTransactions -> false, 
		idleConnectionTestPeriod -> 0, 
		initialPoolSize -> 3, 
		lastAcquisitionFailureDefaultUser -> null, 
		maxAdministrativeTaskTime -> 0, 
		maxConnectionAge -> 0, 
		maxIdleTime -> 0, 
		maxIdleTimeExcessConnections -> 0, 
		maxPoolSize -> 15, 
		maxStatements -> 0, 
		maxStatementsPerConnection -> 0, 
		minPoolSize -> 3, 
		numHelperThreads -> 3, n
		umThreadsAwaitingCheckoutDefaultUser -> 0, 
		preferredTestQuery -> null, 
		propertyCycle -> 0, 
		testConnectionOnCheckin -> false, 
		testConnectionOnCheckout -> false,
		unreturnedConnectionTimeout -> 0, 
		usesTraditionalReflectiveProxies -> false
		-->
		<!-- End of Connection Pool.-->

        <property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />

	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:packagesToScan="${entitymanager.packagesToScan}" >
		<property name="dataSource" ref="dataSource" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<!-- validate | update | create | create-drop -->
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<!--prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop-->
				
				<!-- hibernate ehcache
					http://stackoverflow.com/questions/5270998/spring-hibernate-ehcache
				 --> 
				<prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
                <prop key="hibernate.cache.factory_class">${hibernate.cache.factory_class}</prop>

			</props>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

</beans>
